

# Virtual environment
spam_classification/

# MLFlow Runs
mlruns/



# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
.python-version