

# Virtual environment
spam_classification/

# Ignore MLflow tracking data
mlruns/


# IDE files
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
.python-version